{% extends 'base.html' %}

{% block title%}{{ title }}{% endblock title %}
{% block body %}
<div class="row">
    <div class="col">
        <h1>{{ greeting }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p id="index-message"></p>
    </div>
</div>

{# Form testing #}

{# Django form reference: #}
{# https://docs.djangoproject.com/en/stable/topics/forms/#looping-over-the-form-s-fields #}

{# Bootstrap form reference: #}
{# https://getbootstrap.com/docs/4.0/components/forms/ #}
{# https://getbootstrap.com/docs/4.0/components/alerts/ #}
<div class="row">
    <div class="col">
        <hr>
        <form action="" method="post">
            {# We need to set a cross-site forgery token authenticator #}
            {% csrf_token %}

            {# Loop over the form fields #}
            {% for field in note_form %}
            <div class="form-group">

                {# Display each field #}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}</label>
                <input name="{{ field.html_name }}"
                       value="{{ field.value }}">

                {# If there are errors, display each one #}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock body %}
