{% load static %}
<!doctype html>
{# All settings variable are directly accessible #}
{# Variables are rendered in the template using the {{ var }} block #}
<html lang="{{ LANGUAGE_CODE }}">
<head>
{# Common meta data #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{# Blocks are sections of this template #}
{# that will be available for override to templates that #}
{# will extend this template. #}
<title>{% block title%}{% endblock title %}</title>

{# Common css #}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{# Jottr css #}
{# Based on our settings Django will look for this under the #}
{# jottr/jottr/assets directory #}
<link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
<div class="container">
{% block body %}{% endblock body %}
</div>

{# Common js #}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{# Jottr js #}
{# Based on our settings Django will look for this under the #}
{# jottr/jottr/assets directory #}
<script src="{% static 'scripts.js' %}"></script>

</body>
</html>
